OPENAI_API_KEY ="--------------------------------------------------------------"
NVIDIA_API_KEY="--------------------------------------------------------------"
HF_TOKEN="--------------------------------------------------------------"
DEEPLAKE_API_TOKEN ="--------------------------------------------------------------"
DEEPLAKE_ORG_NAME ="xyz's Organization"
DEEPLAKE_ORG_ID ="--------------------------------------------------------------"
DEEPLAKE_WORKSPACE = '----'
ACTIVELOOP_API_KEY="--------------------------------------------------------------"
GROQ_API_KEY ="-----------------------"